@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'custom';
    src: url('/assets/font/custom.ttf') format('truetype');

}

@font-face{
    font-family:'logo';
    src: url('/assets/font/logo.otf') format('truetype');
}