@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'headingfont';
    src: url('/assets/font/raleway.bold.ttf') format('truetype');

}

@font-face{
    font-family:'logo';
    src: url('/assets/font/logo.otf') format('truetype');
}